[Unit]
Description=Ethereum go client
[Service]
User=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/init_ethereum/service
ExecStart=/bin/bash /home/ubuntu/init_ethereum/service/start.sh
Restart=on-failure
RestartSec=5
[Install]
WantedBy=default.target

